.summary-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-purple);
    padding: 15px;
    border-radius: 5px 5px 0 0;
    margin-top: 25px;
    font-size: 12px;
}

.summary-change-btn {
    position: relative;
    top: 0;
    left: -5px;
    color: var(--cool-gray);
    border: none;
    background-color: transparent;
    text-decoration: underline;
    padding: 5px;
    font-size: 10px;
}

.summary-change-btn:hover {
    cursor: pointer;
}

.summary-change-btn:focus {
    outline: 1px solid var(--purplish);
    border-radius: var(--border-radius);
}

.summary-divide {
    margin: 0;
    background-color: var(--light-gray);
    border: none;
    height: 1px;
    margin-bottom: 15px;
}

.summary-addons {
    padding: 0 15px;
    background-color: var(--light-purple);
    border-radius: 0 0 5px 5px;
    font-size: 10px;
}
.summary-addon {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;    
}

.summary-addon-name {
    color: var(--cool-gray);
}

.summary-total {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.total-text {
    color: var(--purplish);
}

.total-price {
    color: var(--purplish);
}