.add-on-content {
    margin-top: 30px;
}

.add-on-div {
    margin: 10px 0;
}

.add-on-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border: 1px solid var(--dark-purple);
    border-radius: var(--border-radius);
    padding: 15px;
}

.add-on-button:hover {
    cursor: pointer;
}

.add-on-button:focus {
    border: 1px solid var(--purplish);
    outline: 1px solid var(--purplish);
}

.add-on-selected {
    background-color: var(--light-purple);
}

.add-on-left {
    display: flex;
    text-align: left;
    align-items: center;
}

input[type=checkbox]{
    accent-color:  var(--purplish) 
}

input[type=checkbox]:hover {
    cursor: pointer;
}

.add-on-name {
    font-size: 12px;
    margin-bottom: 3px;
}

.add-on-description {
    color: var(--cool-gray);
    font-size: 10px;
}
.add-on-price {
    color: var(--purplish);
    font-size: 10px;
}

.checked-box {
    background-color: var(--purplish);
    border-radius: 3px;
    height: 14px;
    width: 14px;
    padding-top: 4px;
    margin-right: 15px;
}

.unchecked-box {
    height: 14px;
    width: 14px;
    border: 1px solid var(--light-gray);
    border-radius: 3px;
    margin-right: 15px;
}
.checkmark {
    display: block;
    margin: auto;
    width: 7px;
    height: 7px;
}