@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --marine-blue: hsl(213, 96%, 18%);
    --purplish: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry: hsl(354, 84%, 57%);
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --light-orange: rgb(255,175,125);
    --light-purple: rgb(247,249, 254);
    --dark-purple: rgb(83,77,151);
    --border-radius: 5px;
}

* { 
    box-sizing: border-box;
    font-family: 'Ubuntu';
    font-weight: normal;
    color: var(--marine-blue);
 }

body {
    background-color: var(--magnolia);
}

.btn-primary {
    background-color: var(--marine-blue);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 15px;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: var(--purplish);
}

.btn-primary:focus {
    outline: 2px solid var(--purplish);
}

.btn-secondary {
    border: none;
    background-color: transparent;
    color: var(--cool-gray);
    padding: 10px 15px;
}

.btn-secondary:hover {
    cursor: pointer;
    color: black;    
}

.btn-secondary:focus {
    outline: 2px solid var(--purplish);
    border-radius: var(--border-radius);
}

.title {
    margin: 0;
    font-weight: bolder;
}

.description {
    color: var(--cool-gray);
    font-size: 12px;
    margin: 10px 0;
}